@import '../_variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $background-page-color;
}
.appContainer {
  width: 752px;
  margin: 0 auto;
}
.navContainer {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}
.filterContainer {
  display: grid;
  row-gap: 20px;
}
@media (max-width: 768px) {
  .navContainer {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr;
  }
  .appContainer {
    width: auto;
    margin: 0 auto;
    padding: 20px;
  }
}
