@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
$background-page-color: #f3f7fa;
$background-for-block: #ffffff;
$route-title-color: #a0b0b9;
$route-duration-colo: #4a4a4a;
$base-font: 'Open Sans', sans-serif;
$button-group-color: #2196f3;
