@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
$background-page-color: #F3F7FA;
$background-for-block:#FFFFFF;
$route-title-color: #A0B0B9;
$route-duration-colo: #4A4A4A;
$base-font:'Open Sans', sans-serif;
$button-group-color:#2196F3;


